<!DOCTYPE html>
<html ng-app="whsMapper">
  <head>
      <link rel="stylesheet" type="text/css" href="css/master.css" media="screen" />

      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4bVZ5sd6z-swRb0Sehp6WtmnEyi_5GJY&sensor=false"></script>
      <script src="angular.js"></script>
      <script src="js/init_map.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/angular-resource.js"></script>
  </head>
  <body ng-controller="MapCtrl">
    <h1>Angular is working if 2 + 2 = {{2+2}}</h1>

      
        The first API call gives me {{apiCall.name}}
      

     <form ng-submit="addMarker()" >

  Latitude: <input required
              name="latitude" min="-90" max="90" 
              type="number" 
              ng-model="latitude" >

  Longitude: <input required 
                name="longitude" min="-180" max="180"
                type="number" 
                ng-model="longitude"
                ngMinLength >
 
<input type="submit" id="submit" value="Add Marker" />
  </form>

  </div>

      <button>Adds a marker</button> </h1>

    <p>Nothing here {{'yet' + '!'}}</p>
 <div id="map-canvas"/>


  </body>

</html>